.blogSection1 {
  /* background-image: url(../public/Images/Banner-wifi-new.jpg); */
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  background-size: cover;
  padding: 62px 0;
}
.Overmain {
  overflow: hidden;
}
.blogSEcMain {
  display: flex;
  flex-direction: row;
  padding: 0 90px;
}
.blogSection2 {
  float: left;
  width: 100%;
  padding: 20px 0;
  background: #43b4e7;
}
.blogSection2 .collapse {
  display: block;
}
.blogSection2 ul {
  text-align: center;
  margin: 0;
}

.blogSection2 ul li {
  display: inline-block;
  padding: 0 12px;
}
.blogSection2Inv {
  display: none;
}
.link-container {
  display: flex;
  flex-direction: column;
}
.dropsubBlog ul {
  padding: 0;
}
.dropsubBlog li {
  border-bottom: 1px solid #cecece;
  padding: 10px 0;
  color: black;
}
.dropsubBlog a {
  color: #121213 !important;
}
.text-center {
  text-transform: capitalize;
}

.color {
  color: #ffffff !important;
}
.color:hover {
  color: #337ab7 !important;
  opacity: 0.6 !important;
}

.CogsBlog {
  width: 100%;
  text-align: left;
  background: transparent;
  border: 0;
  font-size: 20px;
  color: #292c2d;
}
.FaCogs {
  width: 20px;
  height: 20px;
}
.blogSection3 {
  display: flex;
  width: 100%;
  background: #e6e7e8;
}
.blogSec3main {
  max-width: 1440px;
  margin: 0 auto;
  background: #e6e7e8;
  padding: 0 0;
  width: 100%;
  position: relative;
}
.blog10 {
  padding: 0 0 0 27px;
}
.blog_SideSection {
  display: flex;
  justify-content: space-between;
}
.blog_SideSection h4 {
  margin: 15px 0;
  text-align: center;
}
.more_blog {
  margin: 15px 0;
  float: right;
}
.more_blogLink {
  color: #337ab7;
  text-decoration: none;
}
.BlogBox {
  width: 100%;
  background: #fff;
  padding: 15px 15px;
}
.SmBoxBlog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.blog10 {
  flex-grow: 1;
  overflow: hidden;
}
.blog-time {
  font-size: 14px;
  color: #b1b1b1;
  margin: 7px 0 0;
  display: block;
}
.BlogmainSm {
  width: 129px;
  height: 67px;
}
.BlogmainMd {
  width: 100%;
  height: 169px;
}
._blg-grd-0a2 {
  width: 100%;
  background: #eff0f1;
  padding: 15px;
}
._blg-grd-0a2 h4 {
  margin: 20px 0;
  float: left;
  text-align: center;
  font-size: 18px;
}
.Blog2wh {
  background-color: #fff;
  margin: 10px 0;
}
._blg-grd-0a2-ul {
  margin: 0 0 10px;
}
._blg-grd-0a2-ul {
  padding: 15px;
  background: #fff;
}
._blg-grd-0a2-ul h3 {
  font-size: 15px;
  font-weight: 600;
  line-height: 31px;
  color: #337ab7;
}
._blg-grd-0a2-ul p {
  font-size: 13px;
  font-weight: 600;

  color: #4e4e4e;
}
._blg-grd-0a2-ul:hover h3 {
  color: #ff0000;
}
.blg_gif {
  width: 100%;
  text-align: center;
}
.InboxOpen {
  width: 100%;
  height: 250px;
}
._blg-grd-0a3 {
  width: 100%;
  padding: 15px;
  background: #e6e7e8;
}
._blg-grd-0a3-ul {
  background: #fff;
  margin: -27px 20px 0;
  position: relative;
  padding: 10px;
}
.con-con {
  padding: 10px 0;
  background: linear-gradient(
    120deg,
    #f3f3f3 10%,
    transparent 10%,
    transparent 90%,
    #f3f3f3 90%
  );
  border-top: 3px solid #f3f3f3;
  border-bottom: 3px solid #f3f3f3;
  position: relative;
  width: 100%;
}
#banner {
  width: 100%;
  background: #000000a6;
  padding: 5px 0;
}
.justrowBlog {
  padding: 20px 15px;
  background-color: #e6e7e8;
}

/*-------------------MediaQuery-----------------*/
@media (max-width: 991px) {
  .blogSEcMain {
    padding: 0 50px;
  }
  .blogSection2Inv {
    display: none;
  }
  .blogSection3 {
    display: flex;
  }
}
@media (max-width: 768px) {
  .blogSEcMain {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
  }
  .blogSection2Inv {
    display: none;
  }
  .blogSection3 {
    display: flex;
  }
  .BlogmainMd {
    width: 100%;
    height: 269px;
  }
}
@media (max-width: 480px) {
  .blogSection1 {
    padding: 64px 0;
    height: 400px;
  }
  .blogSection2Inv {
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .blogSection2 {
    display: none;
  }
}
/*--------comman-------*/
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
li {
  list-style: none;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.paging-navigation {
  width: 100%;
  float: left;
  text-align: center;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  word-wrap: normal !important;
  border: 0;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.page-numbers {
  border: 1px solid;
  padding: 6px 15px;
  color: #ffffff;
  background: #43b4e7;
}
.Bottompagination {
  background-color: white;
}
#BlogMainSection h2 {
  color: white;
  font-size: 30px;
  font-weight: 500;
  margin: 20px 0 10px 0;
  text-decoration: none;
}
#BlogMainSection h4 {
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0 5px 0;
  text-decoration: none;
}
#BlogMainSection p {
  color: #dedddd;
  font-size: 18px;
  text-decoration: none;
  margin: 5px 0;
}
#listblogA1 a {
  color: white;
  text-decoration: none;
}
#blogSection3 h4 {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
#blogSection3 p {
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-height: 21px;
  font-size: 16px;
  margin: 0;
  color: #4e4e4e;
  text-decoration: none;
}
#openSecStart h3 {
  font-size: 19px;
  margin: 9px 0;
  font-weight: 500;
  color: #337ab7;
}
#openSecStart span {
  color: #a0a0a0;
  text-transform: uppercase;
  font-size: 14px;
}
#openSecStart p {
  font-weight: 600;
  line-height: 31px;
  color: #4e4e4e;
  font-size: 14px;
}
